*{
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
    margin: 0px;
    padding: 0px;
    
}

.logo{
    width: 200px;
    justify-content: center;
    
}


.header{
    background-color: #EAC926;
    padding: 20px;
    width: 100%;
    
}

li{
    padding: 16px;
}

.burger-menu {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li i {
    padding-left: 0.5rem;
}

a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

.cuotas{
    text-align: center;
}

.menu{
    padding :10px;
    margin: auto;
    color: white;
    background-color: #1259c3;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    width: 20px;
    
 }

a{
    text-decoration: none;
    color: black
}

.containerFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

main section{
    margin-bottom: 80px;
}

.titulo {
    font-size: 1.5rem;
}

.containerFlexColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    }

.form{
    width: 100%;
}
    
.input{
    width: 100%;
    height: 46px;
    border-radius: 4px;
    padding: 16px;
    border: 1px #b4b4b4 solid;
    font-size: 16px;
    margin-bottom: 16px;
}
.cardLog {
        max-width: 400px;
        width: 100%;
        background-color: #ffffff;
        padding: 3rem 2rem;
        border-radius: 0.5rem;
    }

.containerLog {
    max-width: 90%;
    margin: auto;
    padding-top: 140px;
    padding-bottom: 140px;
    }

.btn-enviar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; 
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-top: 50px; 
  }

button:hover{
    color: #03264C
}

.containerInput {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    margin-bottom: 24px;
}

.listasFlex{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}



body{
    font-size: 12px;
    width: 100%;
    padding: 1px;
    margin: 1px;
    size: 100%;
    background-color: #ebebeb;
    
}


main{
    font-size: 13px;
    width: 90%;
    padding: 10px;
    margin: 5%;
    

}

.banner{
    
    width: 100%;
    size-adjust: 100%;
}

.sectionFlex{
    display:flex;
    
}
 

.container{
    display: flex;
    max-width: 90%;
    margin: auto;
    padding-top: 32px;
    padding-bottom: 32px;
    flex-direction: row-reverse;
    }


footer{
    text-align: center;
    padding: 4px 4px;
    width: 100%;
    font-size: medium;
    
}

footer i{
    color: #1259c3;
    font-size: 2rem;
    transition: color 450ms;
}

footer strong{
    font-size: 1.5rem;
}
.foot section{
    margin-bottom: 3rem;
    display: flex;
}

@media (min-width: 361px){
   .lista1{
    display: none;
   } 
   .lista2{
    display: none;
   }
   .sectionFlex{
        flex-wrap: wrap;
   }
   
}

@media (min-width: 769px){
    .contenedor{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
     }
    .lista1{
        display:flex;
    }
    .lista2{
        display:flex;
    }
    .menu{
        display: none;

    }
    .sectionFlex{
        flex-wrap: wrap;
   }

}