<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital scale=1">
    <link href="/css/styles.css" rel="stylesheet">
    <title>MercadoLiebre</title>
    <script src="https://kit.fontawesome.com/ae112b6b14.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <div>
        <img  class="logo", src="/images/logo-mercado-liebre.svg" alt=" ">
        </div> 
        <div class="barraBusq">
        <input imput="text" placeholder="buscar..." ><i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <h3 class="cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de crédito.</h3>
        <nav class="listasFlex">
        <ul class="listasFlex">
            <li><a href="#" >Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#" >Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="listasFlex">
            <li><a href="reg">Crea tu cuenta</a><i class="fa-solid fa-address-card"></i></li>
            <li><a href="login">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
            <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
        </ul>
        </nav> 
        <div class="menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <div><img class="banner" src="./images/img-home-banner.jpg"></div>
    <main>        
            <div>
                <h4 class="ultvist">Basado en tu última visita</h4>
            </div>
        <div class="container">
        <section class="containerFlex"> 
            <article class="card">
                <img src="./images/img-cafetera-moulinex.jpg" alt="Imagen de Cafetera Moulinex">
                <div class="content">
                    <div><i id="camion" class="fa-solid fa-truck"></i></div>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% off</p>
                    <p><strong>Cafeteria Moulinex</strong></p>
                </div>
            </article>
        </section>


        <section class="containerFlex">
            <article class="card">
                <img src="./images/img-macbook-pro-2019.jpg">
                <div class="content">
                    <i id="camion" class="fa-solid fa-truck" ></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <p><strong>Macbook pro 2019</strong></p>
                </div>
            </article>
        </section>



        <section class="containerFlex">
            <article class="card">
                    <img src="./images/img-samsung-galaxy-s10.jpg">
                    <div class="content">
                        <i id="camion" class="fa-solid fa-truck"></i>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                        <p><strong>Samsung Galaxy s10</strong></p>
                    </div>
            </article>
        </section>



        <section class="containerFlex">
                <article class="card">
                    <img src="./images/img-tv-samsung-smart.jpg">
                    <div class="content">
                        <i id="camion" class="fa-solid fa-truck" ></i>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                        <p><strong> Smart tv Samsung 43" </strong></p>
                    </div>
            </article>
        </section>
        </div>
        </section>  
        <h4 class="ultvist">Ofertas</h4>
        <div class="container">
        <section class="containerFlex"> 
            <article class="card">
                <img src="./images/img-cafetera-moulinex.jpg" alt="Imagen de Cafetera Moulinex">
                <div class="content">
                    <div><i id="camion" class="fa-solid fa-truck"></i></div>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% off</p>
                    <p><strong>Cafeteria Moulinex</strong></p>
                </div>
            </article>
        </section>


        <section class="containerFlex">
            <article class="card">
                <img src="./images/img-macbook-pro-2019.jpg">
                <div class="content">
                    <i id="camion" class="fa-solid fa-truck" ></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <p><strong>Macbook pro 2019</strong></p>
                </div>
            </article>
        </section>



        <section class="containerFlex">
            <article class="card">
                    <img src="./images/img-samsung-galaxy-s10.jpg">
                    <div class="content">
                        <i id="camion" class="fa-solid fa-truck"></i>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                        <p><strong>Samsung Galaxy s10</strong></p>
                    </div>
            </article>
        </section>



        <section class="containerFlex">
                <article class="card">
                    <img src="./images/img-tv-samsung-smart.jpg">
                    <div class="content">
                        <i id="camion" class="fa-solid fa-truck" ></i>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                        <p><strong> Smart tv Samsung 43" </strong></p>
                    </div>
            </article>
        </section>
    </div>
    </main>
    <footer>
           <div class="container">
                <section>
                    <i class="fa-solid fa-credit-card" style="color: #1259c3;"></i>
                    <p><strong>Pagá con tarjeta o en efectivo</strong></p>
                    <p class="footerp">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </section>


                <section>
                    <i class="fa-solid fa-gift" style="color: #1259c3;"></i>
                    <p><strong>Envío gratis desde $ 2.500</p></strong>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </section>


                <section>
                <i class="fa-solid fa-user-shield" style="color: #1259c3;"></i>
                <p><strong>Seguridad, de principio a fin</p></strong>
               <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>
            </div>
        <p class="copyright"> &copy; 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>