<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital scale=1">
    <link href="./css/styles.css" rel="stylesheet">
    <title>MercadoLiebre</title>
    <script src="https://kit.fontawesome.com/ae112b6b14.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
       <div>
        <img  class="logo", src="./images/logo-mercado-liebre.svg" alt=" ">
       </div> 
        
        <h3 class="cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de crédito.</h3>
        <div class="menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    
    <main class="aline">
        <section>
            <section class="reg">
                <form class="reg">
                    <label>Nombre y Apellido</label>
                    <input type="text">
                    <label>Nombre de usuario</label>
                    <input type="text">
                    <label>E-mail</E-mail></label>
                    <input type="email">
                    <label>Fecha de nacimiento</label>
                    <input type="date">
                    <label>Domicilio</label>
                    <input type="text">
                    <label>Perfil de usuario</label>
                    <label><input type="radio"  name="perfilDeUsuario">Comprador <input type="radio" name="perfilDeUsuario"> Vendedor</label>
                    <input type="checkbox">Electro
                    <input type="checkbox">Moda
                    <input type="checkbox">Hogar
                    <input type="checkbox">Jugueteria
                    <input type="checkbox">Vida sana
                    <label>Foto de perfil</label>
                    <input type="file">
                    <label>Contraseña</label>
                    <input type="password">
                    <label>Confirmar Contraseña</label>
                    <input type="password">
                    <button type="submit">Enviar</button>
                    <button type="reset">Borrar</button>
                </form>
            </section> 
            


        </section>
    </main>
    <footer class="footer">
        <br>
        
        <section>
            <i class="fa-solid fa-credit-card" style="color: #1259c3;"></i>
            <h3 class="footerh3">Pagá con tarjeta o en efectivo</h3>
            <p class="footerp">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>


        <section>
            <i class="fa-solid fa-gift" style="color: #1259c3;"></i>
            <h3 class="footerh3">Envío gratis desde $ 2.500</h3>
            <p class="footerp">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>


        <section>
            <i class="fa-solid fa-user-shield" style="color: #1259c3;"></i>
            <h3 class="footerh3">Seguridad, de principio a fin</h3>
            <p class="footerp">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <br>

    </footer>
</body>
</html>